/* Error: Can't find stylesheet to import.
 *     ,
 * 117 | @import "custom-mixins";
 *     |         ^^^^^^^^^^^^^^^
 *     '
 *   mundus-mundi-5d717c0e4764e803dce16583/theme.scss 117:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a     \2577 \a 117 \2502  @import \"custom-mixins\";\a     \2502          ^^^^^^^^^^^^^^^\a     \2575 \a   mundus-mundi-5d717c0e4764e803dce16583/theme.scss 117:9  root stylesheet";
}
