//donation-v2 page
.page-pages-show-donation-v2-wide {
  .card-error-container .card-error {
    padding-top: 5px;
  }
  span.error-message {
    color: $red;
  }
  .ticket-list {
    ul {
      list-style-type: none;
      padding-left: 0;
      margin: 0;
      li {
        font-size: 30px;
        line-height: 40px;
      }
    }
  }
  .main.width-container,
  footer {
    width: 520px;
  }
  footer {
    margin-bottom: 110px;
  }
  .row-fluid > h4 {
    margin-top: 30px;
  }
  h4.single-amount {
    margin-bottom: 0;
  }
  .donation-v2-occurence-radio {
    margin-top: 10px;
  }

  .donation-other-input-container {
    position: relative;
    .currency-symbol {
      position: absolute;
      top: 50%;
      left: 8px;
      font-size: 20px;
      transform: translate(0, -50%);
    }
    input {
      padding-left: 20px;
      font-size: 20px;
      height: 54px;
      margin-bottom: 0;
    }
  }
  .radio-inline.donation-v2-amounts {
    > span {
      position: relative;
    }
    input[type="radio"] {
      display: none;
    }
    label.radio {
      background: $donation-v2-button-background;
      @include border-radius($supporter-button-radius);
      color: $donation-v2-button-text;
      border: $donation-v2-button-border;
      min-width: 87px;
      text-align: center;
      font-weight: 400;
      letter-spacing: 1px;
      padding: 16px 5px 13px 5px;
      line-height: 1.2em;
      display: inline-block;
      font-size: 18px;
      font-family: $control-font;
      text-transform: uppercase;
      &.on {
        border: $donation-v2-button-border-active;
        background: $donation-v2-button-background-active;
        color: $donation-v2-button-text-active;
      }
      &:hover {
        border: $donation-v2-button-border-hover;
        background: $donation-v2-button-background-hover;
        color: $donation-v2-button-text-hover;
      }
      &:active {
        border: $donation-v2-button-border-active;
        background: $donation-v2-button-background-active;
        color: $donation-v2-button-text-active;
      }
    }
    input[type="radio"]:checked+label {
      border: $donation-v2-button-border-active;
      background: $donation-v2-button-background-active;
      color: $donation-v2-button-text-active;
    }
  }
  .donation-v2-options label {
    display: inline;
  }
  .submit-container {
    margin-top: 20px;
    @include border-radius(2px);
    background-color: $theme-color-11;
    text-align: center;

    .donation-v2-amount {
      font-size: 40px;
      text-align: center;
      margin-bottom: 25px;
      width: 100%;
      min-height: 46px;
      line-height: initial;
      span {
        opacity: 1;
        display: inline-block;
        .nb_donation_v2_interval {
          font-size: 17px;
          font-weight: normal;
          &.hidden {
            display: none;
            opacity: 0;
          }
        }
        &.hidden {
          opacity: 0;
          display: none;
          + span {
            font-size: 22px;
          }
          ~ .nb_donation_v2_interval {
            display: none;
          }
        }
      }
      .nb_donation_v2_amount {
        margin-left: 4px;
      }
    }
    input.submit-button {
      padding: 10px 30px;
      font-size: 18px;
    }
  }
}

@media (min-width: 768px) {
  .page-pages-show-donation-v2-wide {
    .main.width-container,
    footer {
      margin-left: 5vw;
    }
    .donation-v2-options {
      position: relative;
      .donation-v2-occurence-radio {
        margin-top: 0;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        input {
          position: relative;
          top: -2px;
          margin: 0;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .page-pages-show-donation-v2-wide {
    .main.width-container {
      margin: 0 auto;
    }
    footer {
      margin: 0 auto;
    }
    .radio-inline.donation-v2-amounts {
      > span {
        position: relative;
        width: 50%;
        float: left;
        &:nth-child(even) {
          padding: 0 0 0 7px;
        }
        &:nth-child(odd) {
          padding: 0 7px 0 0;
        }
        label.radio {
          width: 100%;
        }
      }
    }
    .donation-v2-options.single-amount-any-frequency {
      padding-top: 10px;
    }
    .donation-v2-options,
    .radio-inline.donation-v2-amounts + .donation-v2-options {
      clear: left;
      padding-top: 30px;
      .span6 {
        position: relative;
        width: 50%;
        float: left;
        margin: 0;
        &:first-child {
          padding-right: 7px;
        }
        &:last-child {
          padding-left: 7px;
        }
      }
      .donation-v2-occurence-radio {
        padding: 0;
        width: 100%;
        position: static;
        transform: none;
        margin: 0;
        > span {
          position: relative;
          display: inline-block;
          float: left;
          width: 50%;
          &:first-child {
            padding-right: 7px;
          }
          &:last-child {
            padding-left: 7px;
          }
        }
        input[type="radio"] {
          display: none;
        }
        label.radio {
          background: $donation-v2-button-background;
          @include border-radius($supporter-button-radius);
          color: $donation-v2-button-text;
          border: $donation-v2-button-border;
          text-align: center;
          width: 100%;
          height: 54px;
          top: 0;
          margin: 0;
          font-weight: 400;
          letter-spacing: 1px;
          padding: 9px 0;
          display: inline-block;
          font-size: 14px;
          line-height: 24px;
          font-family: $control-font;
          text-transform: uppercase;
          &.on {
            border: $donation-v2-button-border-active;
            background: $donation-v2-button-background-active;
            color: $donation-v2-button-text-active;
          }
          &:hover {
            border: $donation-v2-button-border-hover;
            background: $donation-v2-button-background-hover;
            color: $donation-v2-button-text-hover;
          }
          &:active {
            border: $donation-v2-button-border-active;
            background: $donation-v2-button-background-active;
            color: $donation-v2-button-text-active;
          }
        }
        input[type="radio"]:checked+label {
          border: $donation-v2-button-border-active;
          background: $donation-v2-button-background-active;
          color: $donation-v2-button-text-active;
        }
      }
    }
  }
}
@media (max-width: 570px) {
  .page-pages-show-donation-v2-wide .main.width-container,
  .page-pages-show-donation-v2-wide footer {
    width: 100%;
  }
}

@media (max-width: 560px) {
  .page-pages-show-donation-v2-wide {
    .radio-inline.donation-v2-amounts + .donation-v2-options .span6 {
      width: 100%;
      &:first-child {
        padding: 0;
      }
      &:last-child {
        padding: 14px 0 0 0;
      }
    }
    .radio-inline.donation-v2-amounts {
      > span {
        position: relative;
        width: 50%;
        float: left;
        &:nth-child(even) {
          padding: 0 0 0 7px;
        }
        &:nth-child(odd) {
          padding: 0 7px 0 0;
        }
        label.radio {
          width: 100%;
        }
      }
      + .donation-v2-options {
        clear: left;
        padding-top: 30px;
      }
    }
    .radio-inline.donation-v2-amounts+.donation-v2-options .donation-v2-occurence-radio label.radio {
      font-size: 18px;
    }
  }
}
